<%- include('../../partials/header.ejs'); -%>
    <%- include('../../partials/adminNavbar.ejs'); -%>
        <div class="container">
            <style rel="stylesheet">
                body {
                    background-image: url("/img/background.png");
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center center;
                    background-size: cover;
                }
            </style>
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Articles</h2>
                    <a class="btn btn-outline-success" href="/admin/articles/new">Create a new article</a>
                    <hr>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Slug</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% articles.forEach(articles=> { %>
                                <tr>
                                    <th>
                                        <%= articles.id %>
                                    </th>
                                    <th>
                                        <%= articles.title %>
                                    </th>
                                    <th>
                                        <%= articles.slug %>
                                    </th>
                                    <th>
                                        <%= articles.category.title %>
                                    </th>
                                    <th>
                                        <a href="/admin/articles/edit/<%= articles.id %>" class="btn btn-outline-info">Edit</a>

                                        <form method="POST" action="/articles/delete" style="display: inline;" onsubmit="deleteAttetion(event, this)">
                                            <input type="hidden" name="id" value="<%= articles.id %>">
                                            <button class="btn btn-outline-danger">Delete</button>
                                        </form>
                                    </th>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>

            <%- include('../../partials/footer.ejs'); -%>

                <script>
                    function deleteAttetion(event, form) {
                        event.preventDefault();
                        var decision = confirm("Do you really want to delete this article?");
                        if (decision) {
                            form.submit();
                        }
                    }
                </script>